*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: #444;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: 37%;
  width: 100%;
  background-image: url('./images/pattern-bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.heading {
  color: #fff;
  font-weight: 500;
  margin: 2.3rem 0;
}

.form {
  text-align: center;
  max-width: 53rem;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.form__input {
  background-color: #fff;
  border: unset;
  max-width: 90%;
  padding: 1.7rem 2rem;
  font-size: 1.5rem;
  color: #444;
}

.form__input::placeholder {
  color: #aaa;
}

.form__button {
  border: unset;
  background-color: #222;
  color: #fff;
  max-width: 9%;
  height: 100%;
  transition: background-color 0.2s;
}

.form__button:hover {
  background-color: #444;
  cursor: pointer;
}

.submit-icon {
  font-size: 2.5rem;
  font-weight: 700;
}

.form * {
  width: 100%;
}

.form *:focus {
  outline: unset;
}

.summary {
  height: 13rem;
  width: 75%;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 2rem 0;

  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  z-index: 10;

  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.summary > * {
  flex-basis: 100%;
  padding: 0 3rem;
  position: relative;
}

.summary > *:not(:last-child)::after {
  content: '';

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  background-color: #ccc;
  width: 1px;
  height: 60%;
}

.summary__title {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #969696;
  margin-bottom: 0.4rem;
}

.summary__value {
  font-size: 2.1rem;
}

#map {
  height: 65%;
  width: 100%;
  background-color: #f4f4f4;

  z-index: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
